<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <style>
    body {
        text-align: center;
    }
    li {
      list-style-type: none;
    }
</style> 
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
    
      //loop through list of available snacks    
      var SnackList = ({items, showDetail}) => {
        var Menu = items.map((item) => {
            //display snack name
            return <li onClick={showDetail} id={item._id} key={item._id}>{item.name}</li>
        });
        return <ul>{Menu}</ul>;
      }
      
      //detail of current item displayed here
      var Detail = (props) => {
        return <div>
          {props.item.name}<br/>
          {props.item.price}<br/>
          {props.item.brand}
        </div>;
      }
      
      //Snacksapp
      class Snacksapp extends React.Component {
        constructor(props) {
          super(props);
          this.state = {
            items:{{{snacks}}}, 
            currentItem:{},
          };
          this.showDetail = this.showDetail.bind(this);
        }
        
        //capture click and set click as the current item
        showDetail(event) {
          console.log(event.target.id)
          var selectItem = this.state.items.find((item) => {
            return item._id == event.target.id;
          });
          this.setState({currentItem: selectItem});
        }
        
        render() {
          return (
            <div>
              <h1>Snacks Menu</h1>
              <h2>There are {this.state.items.length} snacks</h2>
              <SnackList items={this.state.items} showDetail={this.showDetail}/>
              <Detail item={this.state.currentItem}/>
            </div>
          );
        }
      }
        
      ReactDOM.render(
        <Snacksapp />,
        document.getElementById('root')
      );  
        
              /* TEST    
              //format output of snacks
              function ListItem(props) {
                return <h1>{props.snack.name} {props.snack.price} {props.snack.brand}</h1>;
              }
              //LOOP
              render() {
                return (
                  <div>
                    <h1>Hello, world!</h1>
                    <ListItem snack={this.state.items[0]} />
                    <h2>There are {this.state.items.length} snacks</h2>
                    for (var i = 0; i < {this.state.items.length}; i++) {
                      <ListItem snack={this.state.items[i]} />
                    }  
                  </div>
                );
              }
              //MAP
              render() {
                return (
                  <div>
                    <h1>Hello, world!</h1>
                    <h2>There are {this.state.items.length} snacks</h2>
                    <ListItem snack={this.state.items[0]} />
                    <ul>
                      {this.state.items.map(function(item, i){
                         return <li key={i}>{item.name}</li>
                       )}
                    </ul>
                  </div>
                );
              }
              */

    </script>
  </body>
</html>
   

